  @inject State state

        @if(state.HeaderArray.Value != null && state.HeaderArray.Value.Count > 0 && dataArray != null && dataArray.Count > 0)
        {
            <div class="dynamic-table">
                <div class="table-header">
                    <h3 class="heading">@TableTiltle</h3>
                    <bold>@dataCount data points</bold>
                </div>
                    <div class="table large">
                    <div class="table-body">
                        <table>
                            <thead>
                                @foreach(var row in state.HeaderArray.Value)
                                {
                                    <tr>
                                        @foreach(var data in row)
                                        {
                                            if(!string.IsNullOrWhiteSpace(data))
                                            {
                                                <th>@data</th>
                                            }
                                        }
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @if(state.Data2Show.Value == "raw" && dataArray.Count > 0)
                                {
                                    foreach(var row in dataArray)
                                {
                                    int index = 0;
                                    <tr>
                                        @foreach(var data in row)
                                        {
                                            string xDepth = row[0];
                                            if(!string.IsNullOrWhiteSpace(data) && state.HeaderIndexDict.Value.ContainsKey(index))// && ParseAndPopulateData(index, xDepth, data)
                                            {
                                                <td>@data</td>
                                            }
                                            else
                                            {
                                                <td class="red">@data</td>
                                            }
                                            index++;
                                        }
                                    </tr>
                                }
                                }
                                else if(state.Data2Show.Value == "filtered" && filteredRawDataInRowsArray.Count > 0)
                                {
                                    foreach(var row in filteredRawDataInRowsArray)
                                    {
                                        int index = 0;
                                        <tr>
                                            @foreach(var data in row)
                                            {
                                                if(state.HeaderIndexDict.Value.ContainsKey(index))
                                                {
                                                    <td>@data</td>
                                                }
                                                else
                                                {
                                                    <td class="red">@data</td>
                                                }
                                                index++;
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
}       

@code {
    [Parameter]
    public string TableTiltle {get;set;} = "";
    [Parameter]
    public List<double[]> filteredRawDataInRowsArray {get; set;} = new();
    [Parameter]
    public List<string[]> dataArray {get; set;} = new();
    int dataCount = 0;
    protected override void OnAfterRender(bool firstRender)
    {
        if(state.Data2Show.Value == "raw")
        {
             dataCount = dataArray.Count;
        }
        else if(state.Data2Show.Value == "filtered")
        {
             dataCount = filteredRawDataInRowsArray.Count;
        }
    }
}
