@page "/borelogs"
@inject DatabaseService database
@inject PlotModelService PlotModelService
@inject NavigationManager navigationManager
@inject RectanglePlotService rectanglePlot
@inject IFunctions functions
@inject IJSRuntime jSRuntime
@inject IStore store
@inject State state
@implements IDisposable

<InputFile type="file" id="image" style="display: none;" OnChange="@LoadFile" accept=".png,.jpg,.jpeg" />
<div class="graph active">
    <span @onclick="GotoLab" class="x red  @((state.Project.Value.Info.Name != "") ? "active" : "")">X</span>
    <span @onclick="@(() => {navigationManager.NavigateTo("/pdf-view");})"  class="view @((state.Project.Value.Info.Name != "") ? "active" : "")"><i class="fas fa-eye"></i></span>
    <span @onclick="@(e =>AddCurrentPageToPdfCollection("chart3"))" class="add @((state.Project.Value.Info.Name != "") ? "active" : "")"><i class="fas fa-download"></i></span>
    <span @onclick="@(e =>Screenshot("chart3"))" class="camera @((state.Project.Value.Info.Name != "") ? "active" : "")"><i class="fas fa-camera-retro"></i></span>
    @if(chartDocumentCount > 0)
    {
        <div class="counter @((state.Project.Value.Info.Name != "") ? "active" : "")">@chartDocumentCount</div>
    }
    @if(yAxisMax > initialStartDepth + 6)
    {
        <span class="left @((state.Project.Value.Info.Name != "") ? "active" : "")" @onclick="TogglePlotModelBackward"><i class="fas fa-angle-left"></i></span>
    }
    @if(yAxisMax < maxBoreholeDepth)
    {
        <span class="right @((state.Project.Value.Info.Name != "") ? "active" : "")" @onclick="TogglePlotModelForward"><i class="fas fa-angle-right"></i></span>
    }

<div id="chart3">
    @if(state.Project.Value.Info.Title != "")
    {
        var info = state.Project.Value.Info;
        <div class="chart-info">
            <div class="d-flex">
                <div class="img">
                    <img @onclick="(() => {ChangeImage(1);})" src="@state.ChartImages.Value.Item1"/>
                </div>
                <div class="img">
                    <img @onclick="(() => {ChangeImage(2);})" src="@state.ChartImages.Value.Item2"/>
                </div>
            </div>
            <div class="label">
                <label class="b1">Project Title: @info.Title</label>
                <br><label class="b2">Client: @info.Client</label>&nbsp;&nbsp;
                <label class="b2">Contractor: @info.Contractor</label><br>
                <label class="b3">Site Name: @info.SiteName</label>&nbsp;&nbsp;
                <label class="b3">Location: @info.Location</label>
                <br><label class="b3">E: @info.Easting</label>&nbsp;&nbsp;
                <label class="b3">N: @info.Northing</label>&nbsp;&nbsp;
                <label class="b3">Water column depth: @info.WaterDepth m</label>&nbsp;&nbsp;
                <label class="b3">Depth of Drilling: @info.DepthDrilled m</label>&nbsp;&nbsp;
                <label class="b3">Borehole Id: @info.TestNumber</label><br>
                <b class="@msgClass">@msg</b>
                <br>
            </div>
            <div class="img">
                <img @onclick="(() => {ChangeImage(3);})" src="@state.ChartImages.Value.Item3"/>
            </div>
        </div>
    }

    <div id="chart">
        <BlazorPlotView Model="@sotrModel" Width="185" Height="550"/>
        <BlazorPlotView Model="@boreholeModel" Width="520" Height="550"/>@*150*@
        @if(state.FilteredAndComputedCPTDataInColumnsDict.Value.Count() > 0)
        {
            <BlazorPlotView Model="@coneModel" Width="195" Height="550" />
            <BlazorPlotView Model="@fsModel" Width="195" Height="550" />@*220*@
            <BlazorPlotView Model="@poreModel" Width="195" Height="550" />           
        }
        <BlazorPlotView Model="@wcModel" Width="195" Height="550" />@*160*@
        <BlazorPlotView Model="@uwModel" Width="195" Height="550" />
        <BlazorPlotView Model="@suModel" Width="195" Height="550" />
    </div>

    <div class="borehole-footer">
        <div class="flex-col">
            <span class="rect red-back"></span>
            <b>Drill out</b>
        </div>
        <div class="flex-col">
            <span class="rect blue-back"></span>
            <b>Sample</b>
        </div>
        <div class="flex-col">
            <span class="rect yellow-back"></span>
            <b>N/R</b>
        </div>
        <div class="flex-col">
            <span class="rect black-back"></span>
            <b>Sub-Samples</b>
        </div>
        <div class="flex-col">
            <span class="arrow-down">&#x2193;</span>
            <b>CPT</b>
        </div>

        @if(samplingToolDict.Count() > 0)
        {
            foreach(var tool in samplingToolDict)
            {
                <div class="flex-col">
                    <span>@tool.Value</span>
                    <b>@tool.Key</b>
                </div>
            }
        }
        <div class="flex-col">
            <span>N/R</span>
            <b>No Recovery</b>
        </div>
        <div class="flex-col">
            <span>UU</span>
            <b>UU Triaxial</b>
        </div>
        <div class="flex-col">
            <span>PP</span>
            <b>Pocket Penetrometer</b>
        </div>
        <div class="flex-col">
            <span>MV</span>
            <b>Miniature Vane</b>
        </div>
        <div class="flex-col">
            <span>TV</span>
            <b>Torvane</b>
        </div>

    </div>

 </div>
</div>
@code{
    PlotModel sotrModel = new PlotModel {Title = "" };
    PlotModel boreholeModel = new PlotModel {Title = ""};
    PlotModel coneModel = new PlotModel { Title = "" };
    PlotModel poreModel = new PlotModel();
    PlotModel fsModel = new PlotModel();
    PlotModel uwModel = new PlotModel();
    PlotModel wcModel = new PlotModel();
    PlotModel suModel = new PlotModel();
    int chartDocumentCount = 0;
    int count = 0;
    string msg = "";
    int imgId = 0;
    string msgClass = "";
    double maxBoreholeDepth = 0;
    double initialStartDepth = 0;
    double yAxisMin = 0;
    double yAxisMax = 0;
    List<SampleInfo> allSOTR = new List<SampleInfo>();
    Dictionary<string,List<double>> SuParameters = new Dictionary<string,List<double>>();
    Dictionary<string,string> samplingToolDict = new();
    protected override void OnInitialized()
    {
       GenerateBoreholeLogs();
       samplingToolDict =  functions.GetSamplingTool();
        GetChartDocumentCount();
       //var su = database.ReadAll("SuParameters").ToList();
       //Console.WriteLine(su[0].Key+" "+su[0].Value+"\n "+state.Project.Value.Id);
    }
    protected override void OnAfterRender(bool firstRender)
    {
        count++;
    }
    private void GetAllSOTR()
    {
        if(state.Project.Value.Id != "")
        {
            var data = database.ReadAll("SOTR");
            foreach(var d in data)
            {
                var val = JsonConvert.DeserializeObject<SampleInfo>(d.Value);
                if(val != null && val.ProjectId == state.Project.Value.Id)
                {
                    allSOTR.Add(val);
                }
            }
            //us id to read su
            string id = state.Project.Value.Id;
            var su = database.Read("SuParameters",id);
            if(su.Key != "" && su.Value != "")
            {
                SuParameters = JsonConvert.DeserializeObject<Dictionary<string,List<double>>>(su.Value) ?? new();
            }
        }
    }
    private PlotModel PlotConeModel()
    {
        var computedCol = state.FilteredAndComputedCPTDataInColumnsDict.Value;
        if(computedCol != null && computedCol.Count() > 11)
        {
            List<double> depth = computedCol[0];
            List<double> qc = computedCol[1];
            List<double> qt = computedCol[10];
            List<double> qnet = computedCol[11];
            if(depth.Count > 0 && qc.Count > 0 && qt.Count > 0 && qnet.Count > 0)
            {
                var cm = PlotModelService.PlotConeResistance(depth, qc,qt, qnet,yAxisMin,yAxisMax);
                return cm;
            }
        }
        return new PlotModel();
    }
    
    private PlotModel PlotPorePressureModel()
    {
        var computedCol = state.FilteredAndComputedCPTDataInColumnsDict.Value;
        if(computedCol != null && computedCol.Count() > 11)
        {
            List<double> depth = computedCol[0];
            List<double> u2 = computedCol[3];
            if(depth.Count > 0 && u2.Count > 0)
            {
                var pm = PlotModelService.PlotPorePressure(depth, u2,yAxisMin,yAxisMax);
                return pm;
            }
        }
        return new PlotModel();
    }
        private PlotModel PlotSleeveFrictionModel()
    {
        var computedCol = state.FilteredAndComputedCPTDataInColumnsDict.Value;
        if(computedCol != null && computedCol.Count() > 11)
        {
            List<double> depth = computedCol[0];
            List<double> fs = computedCol[2];
            if(depth.Count > 0 && fs.Count > 0)
            {
                var fm = PlotModelService.PlotSleeveFriction(depth, fs,yAxisMin,yAxisMax);
                return fm;
            }
        }
        return new PlotModel();
    }
    private void GenerateBoreholeLogs()
    {
        try
        {
            GetAllSOTR();
            var computedCol = state.FilteredAndComputedCPTDataInColumnsDict.Value;
            double cptMaxDepth = 0; //double maxBoreholeDepth = 0;
            double cptMinDepth = 0;

            if(allSOTR.Count > 0)
            {
                double sampleMaxDepth = allSOTR.Max(x => x.BoreholeEndDepth);
                double sampleMinDepth = allSOTR.Min(x => x.BoreholeStartDepth);//min start scale
                if(computedCol.ContainsKey(0) && computedCol[0].Count > 0)//cpt depth
                {
                    cptMaxDepth = computedCol[0].Max();
                    cptMinDepth = computedCol[0].Min();
                }
                if(cptMaxDepth > sampleMaxDepth)
                {
                    maxBoreholeDepth = cptMaxDepth;
                }
                else
                {
                    maxBoreholeDepth = sampleMaxDepth;
                }
                if(computedCol.ContainsKey(0) && computedCol[0].Count > 0 && cptMinDepth < sampleMinDepth)
                {
                    initialStartDepth = cptMinDepth;
                }
                else
                {
                    initialStartDepth = sampleMinDepth;
                }
                yAxisMax = initialStartDepth;
                yAxisMin = initialStartDepth;
                allSOTR = allSOTR.OrderBy(x => x.BoreholeEndDepth).ToList();
                TogglePlotModelForward();
                //Console.WriteLine($"from BH Logs sample - {sampleMinDepth} cpt - {cptMinDepth} init {initialStartDepth} sotr {allSOTR.Count}");
            }
        }
        catch(Exception e)
        {
            Console.WriteLine("from generate borehole: "+e.Message);
        }
    }
    private void PlotBoreholeModels()
    {
        ClearPlotModels();
        sotrModel = rectanglePlot.PlotSampleInfo(allSOTR,yAxisMin,yAxisMax);
        boreholeModel = PlotModelService.PlotStrata(allSOTR,yAxisMin,yAxisMax);
        coneModel = PlotConeModel();
        fsModel = PlotSleeveFrictionModel();
        poreModel = PlotPorePressureModel();
        uwModel = PlotModelService.PlotUnitWeight(allSOTR,yAxisMin,yAxisMax);
        wcModel = PlotModelService.PlotWaterContent(allSOTR,yAxisMin,yAxisMax);
        if(SuParameters.Count() > 0)
        {
            suModel = PlotModelService.PlotSuParameters(SuParameters,yAxisMin,yAxisMax);
        }
    }
    private void TogglePlotModelForward()
    {
        double increment = yAxisMax + 6;
        if(increment <= maxBoreholeDepth)
        {
            yAxisMin = yAxisMax;
            yAxisMax = increment;
        }
        else if(increment > maxBoreholeDepth && maxBoreholeDepth > initialStartDepth + 6)//initialStartDepth + 6
        {
            yAxisMax = maxBoreholeDepth;
            yAxisMin = yAxisMax - 6;
        }
        else 
        {
            yAxisMax = maxBoreholeDepth;
            yAxisMin = initialStartDepth;
        }
        PlotBoreholeModels();
    }
    private void TogglePlotModelBackward()
    {
        double decrement = yAxisMax - 6;
        if(decrement > initialStartDepth + 6 && yAxisMin > initialStartDepth)
        {
            yAxisMax = decrement;
            yAxisMin = yAxisMax - 6;
        }
        else if(maxBoreholeDepth > initialStartDepth + 6)
        {
            yAxisMin = initialStartDepth;
            yAxisMax = initialStartDepth + 6;
        }
        else if(maxBoreholeDepth < initialStartDepth + 6)
        {
            yAxisMin = initialStartDepth;
            yAxisMax = maxBoreholeDepth;
        }
        PlotBoreholeModels();
    }
    private async void ChangeImage(int id)
    {
        imgId = id; msg = ""; msgClass = "";
        await jSRuntime.InvokeVoidAsync("openImageDialog");
    }
    private async void LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        try
        {
            using(var memoryStream = new MemoryStream())
            {
                await file.OpenReadStream().CopyToAsync(memoryStream);
                var array = memoryStream.ToArray();
                var imgData = "data:image/png;base64,"+Convert.ToBase64String(array);
                var tupleImg = state.ChartImages.Value;
                if(imgId == 1)
                {
                    store.Mutate<Tuple<string,string,string>>("ChartImages", new (imgData,tupleImg.Item2,tupleImg.Item3));
                }
                else if(imgId == 2)
                {
                    store.Mutate<Tuple<string,string,string>>("ChartImages", new (tupleImg.Item1, imgData,tupleImg.Item3));
                }
                else if(imgId == 3)
                {
                    store.Mutate<Tuple<string,string,string>>("ChartImages", new (tupleImg.Item1,tupleImg.Item2, imgData));
                }
                StateHasChanged();
            }
        }
        catch(Exception er)
        {
            msg = er.Message.ToString();
            msgClass = "red";
        }
    }
    private async Task AddCurrentPageToPdfCollection(string id)
    {
       chartDocumentCount = await jSRuntime.InvokeAsync<int>("blazorExtensions.addHtmlContent",id);
    }
    private async void GetChartDocumentCount()
    {
        chartDocumentCount = await jSRuntime.InvokeAsync<int>("getDataCount");
    }
    private async void Screenshot(string id)
    {
        if(allSOTR.Count > 0)
        {
            await jSRuntime.InvokeVoidAsync("screenShot",id);
            navigationManager.NavigateTo($"/output");
        }
    }
    private void ClearPlotModels()
    {
        sotrModel = new PlotModel ();
        boreholeModel = new PlotModel ();
        coneModel = new PlotModel ();
        poreModel = new PlotModel();
        uwModel = new PlotModel();
        wcModel = new PlotModel();
        suModel = new PlotModel();
    }
    private void GotoLab()
    {
        navigationManager.NavigateTo("/lab");
    }
    public void Dispose()
    {
        boreholeModel = new PlotModel();
    }
}