@page "/calculus"
@inject DatabaseService database
@inject NavigationManager navigationManager
@inject IStore store
@inject State state
@inject WriteToFile fileWriter

<div class="lab">
<span @onclick="@(() => {navigationManager.NavigateTo("/lab");})" class="red x">X</span> 
@if(allSOTR.Count > 0)
{
    <div class="dynamic-table ">
        <h3 class="heading">Parameters of Soil Test Results</h3>
        <div class="item">
            <button @onclick="WriteToCSVFile" class="btn">Save Data</button>
            <select @bind="selectcalc">
                <option value="">View By Test Type</option>
                <option value="nmc">Moisture Content</option>
                <option value="uw">Unit Weight</option>
                <option value="log">Borehole Logs</option>
            </select>
        </div>
        <div class="table large">
            <div class="table-body">
                <table>
                    <thead>
                        @if(Headers.Count() > 0)
                        {
                            <tr>
                            @foreach(var header in Headers[selectcalc])
                            {
                                    @if(!string.IsNullOrWhiteSpace(header))
                                    {
                                        <th>@header</th>
                                    }
                            }
                            </tr>
                        }
                    </thead>
                    <tbody>
                        @foreach(var calc in allSOTR)
                        {
                            if(selectcalc == "uw")
                            {
                                @foreach(var uw in calc.Calculus.UnitWeightParamList)
                                {
                                    <tr>
                                    <td>@calc.TestId</td>
                                    <td>@uw.containerLabel</td>
                                    <td>@uw.depth</td>
                                    <td>@uw.weightOfRingInGram</td>
                                    <td>@uw.weightOfRingAndWetSampleInGram</td>
                                    <td>@uw.weightOfRingAndDrySampleInGram</td>
                                    <td>@uw.diameterOfRingInMillimeter</td>
                                    <td>@uw.heightOfRingInMillimeter</td>
                                    <td>@uw.volumeofRingInMillimeter3.ToString("F2")</td>
                                    <td>@uw.volumeofRingInCentimeter3.ToString("F2")</td>
                                    <td>@uw.bulkUnitWeightInKNm3.ToString("F2")</td>
                                    <td>@uw.dryUnitWeightInKNm3.ToString("F2")</td>
                                    <td>@uw.submergedDensityInKNm3.ToString("F2")</td>
                                    </tr>
                                }
                                <td></td>
                            }
                            else if(selectcalc == "nmc")
                            {
                                @foreach(var wc in calc.Calculus.MoistureContentParamList)
                                {
                                    <tr>
                                        <td>@calc.TestId</td>
                                        <td>@wc.depth</td>
                                        <td>@wc.weightOfRing</td>
                                        <td>@wc.weightOfRingAndWetSample</td>
                                        <td>@wc.weightOfRingAndDrySample</td>
                                        <td>@wc.result</td>
                                    </tr>
                                }
                            }
                            //BuildCsvString(calc);
                        }
                    </tbody>
                </table>
            </div>
    </div>
</div>
}
</div>

<div class="msg-dialog @((showMessageBox) ? "active" : "")">
    <MessageBox msgType="@msgBoxType"
        msg="@msgBoxInfo" okString="@msgBoxOkString" route="@msgBoxRoute" ShowMessageBox="CloseMessageBox"  />
</div>

@code {    
    bool showMessageBox = false;
    string msgBoxInfo = "";
    string msgBoxType = "";
    string msgBoxRoute = "";
    string msgBoxOkString = "";
    string selectcalc = "uw";
    List<SampleInfo> allSOTR = new();
    string csvData = "";
    Dictionary<string,List<string>> Headers = new Dictionary<string,List<string>>()
    {
        {"uw",new List<string>()
            {"Id","Tin Label","depth (m)","wt. Tin(g)","wt. tin + wet soil (g)","wt. tin + dry soil (g)",
                "diameter of ring (mm)","height of ring (mm)","vol. of ring (mm3)","vol. of ring (cm3)","bulk density (KN/m3)",
                "dry density (KN/m3)","sub. density (KN/m3)"
            }
        },
        {
            "nmc",new List<string>()
            {
                "Id","depth","wt. Tin(g)","wt. tin + wet soil (g)","wt. tin + dry soil (g)","result (%)"
            }
        }
    };
    protected override void OnInitialized()
    {
        GetAllSOTR();
        //InitCsvData();
    }
    private void InitCsvData()
    {
        /*int count = 0;
        foreach(var d in sampleHeaders)
        {
            if(count < sampleHeaders.Count - 1)
            {
                csvData += $"{d},";
            }
            else
            {
                csvData += $"{d} \n";
            }
            count++;
        }*/
    }
    private void GetAllSOTR()
    {
        if(state.Project.Value.Id != "")
        {
            var data = database.ReadAll("SOTR");
            foreach(var d in data)
            {
                var val = JsonConvert.DeserializeObject<SampleInfo>(d.Value);
                if(val != null && val.ProjectId == state.Project.Value.Id)
                {
                    allSOTR.Add(val);
                }
            }
            allSOTR = allSOTR.OrderBy(x => x.Date).ToList();
            if(allSOTR.Count == 0)
            {
                MsgBoxHelper("No test result recorded!","warn","","null",true);
            }
        }
        else
        {
            MsgBoxHelper("Empty Project!!!","warn","","null",true);
        }
    }
    private void MsgBoxHelper(string info, string type, string route, string ok, bool show)
    {
        msgBoxInfo = info;
        msgBoxType = type;
        msgBoxRoute = route;
        msgBoxOkString = ok;
        showMessageBox = show;
    }
    private void BuildCsvString(SampleInfo calc)
    {
        /*string line = $"{calc.TestId},{calc.Calculus.BulkDensity.resultIngcm3},{calc.Calculus.BulkDensity.resultInKNm3},{calc.Calculus.DryDensity.resultIngcm3},{calc.Calculus.DryDensity.resultInKNm3},{calc.Calculus.MoistureContent.result}";
        line += $"{calc.Calculus._Torvane.resultInKpa},{calc.Calculus._Torvane.resultInMpa},{calc.Calculus.PP.resultInKpa},{calc.Calculus.PP.resultInMpa}";
        csvData += $"{line}\n";*/
    }
    private void WriteToCSVFile()
    {
        if(csvData != "")
        {
            //fileWriter.WriteToCSVFile(csvData);
        }
    }
    private void CloseMessageBox(string value)
    {
        if(value == "cancel")
        {
            showMessageBox = false;
        }
        else if(value == "continue"){}
        else if(value != "")
        {
            showMessageBox = false;
        }
    }
}