@page "/"
@inject DatabaseService database
@inject NavigationManager navigationManager
@inject IJSRuntime jSRuntime
@inject IStore store
@inject State state

<InputFile type="file" id="fileInput" style="display: none;"  OnChange="@HandleFileChange" accept=".csv,.txt"/>
<section @onkeydown="HandleKeyDown" class="container">  
  <div class="menu">
    <ul class="menu-items">
      <li @onclick="(() => ToggleMenu(file))"><i class="@((activeMenu == file) ? "active" : "")">New Project</i></li>
      <li @onclick="(() => ToggleMenu(edit))"><i class="@((activeMenu == edit) ? "active" : "")">Edit</i></li>
      <li @onclick="(() => ToggleMenu(process))"><i>Process</i></li>
      <li @onclick="(() => ToggleMenu(view))"><i class="@((activeMenu == view) ? "active" : "")">View</i></li>
      <li @onclick="(() => ToggleMenu(save))"><i class="@((activeMenu == save) ? "active" : "")">Save</i></li>
    </ul>

    <div class="icons">
        <div>
            <span class="icons-group @((activeMenu == file) ? "active" : "")">
                <i @onclick="(() => ShowFileDialog(true))" class="fas fa-file-csv"></i>
                <i @onclick="(() => {showProjects = true;})" class="fas fa-eye"></i>
                <i @onclick="ClearAll"  class="fas fa-trash"></i>
            </span>
            <span class="icons-group @((activeMenu == edit) ? "active" : "")">
                    <i @onclick="(() => ShowFileDialog(false))"  class="fas fa-folder-open"></i>
                    <b class="tool-tip">Tool tip message here</b>
            </span>
            <span class="icons-group @((activeMenu == process) ? "active" : "")">
                <i @onclick="ViewRawData"  class="fas fa-table"></i>
                <i @onclick="ViewFilteredData"  class="fas fa-server"></i>
                <i class="fas fa-tv"></i>             
            </span>
            <span class="icons-group @((activeMenu == view) ? "active" : "")">
                <i @onclick="(() => {showBigGraph = true;})" class="fas fa-chart-line"></i>
                <i @onclick="(() => {showBigTable = true;})"  class="far fa-file-excel"></i>
            </span>
            <span class="icons-group @((activeMenu == save) ? "active" : "")">
                <i @onclick="Save" class="fas fa-save"></i>
                <i @onclick="@((e) => {navigationManager.NavigateTo("/writer");})" class="fas fa-edit"></i>
                <i @onclick="@(e =>Screenshot("chart1"))" class="fas fa-camera"></i>
            </span>
        </div>
        <label class="label @msgClass">@iconMsg</label>
    </div>
  </div> 

  <Chart headerIndexDict="state.HeaderIndexDict.Value"  @ref="chartRef" TableTiltle="@tableTitle" />
  
 <div class="graph @((showBigGraph) ? "active" : "")">
    <span @onclick="(() => {showBigGraph = false;})" class="red x">X</span> 
    <span @onclick="@(e =>Screenshot("chart2"))" class="camera"><i class="fas fa-camera-retro"></i></span>
        <div>
            <BigGraph isRender="showBigGraph" dataArray="dataArray"
             filteredRawDataInColumnsDict="filteredRawDataInColumnsDict"
             headerIndexDict="state.HeaderIndexDict.Value" 
              filteredRawDataInRowsArray ="filteredRawDataInRowsArray" strokeInfo="strokeInfo"/>
        </div>
  </div> 


    <div class="big-table @((showBigTable) ? "active" : "")">
        <span @onclick="(() => {showBigTable = false;})" class="red x">X</span> 
            <BigTable  TableTiltle="@tableTitle"  dataArray="dataArray" filteredRawDataInRowsArray ="filteredRawDataInRowsArray" />   
    </div>

    <div class="dialog-body @((showSaveDialog) ? "active" : "")">
        @if(showSaveDialog)
        {
            <div class="dialog-box">
                <span @onclick="(() => {showSaveDialog = false;})" class="red x">X</span>
                <SaveDialog ProjectInfo="info" HandleClickEventCalls="ClickedEventCallToSave" />
            </div>
        }
    </div>

    <div class="projects @((showProjects) ? "active" : "")">
        <span @onclick="(() => {showProjects = false;})" class="red x">X</span> 
        <ProjectsTable ProjectEventCallBack="ModifySavedProject" /> 
    </div>
</section>

@code{
    public Chart? chartRef; //@onmouseover="@(e => HandleMouseOverIconsTooltip("Load a new *.csv data file", file))" 
    bool showBigGraph = false;
    bool showBigTable = false;
    bool showSaveDialog = false;
    bool showProjects = false;
    bool isFiltered = false;
    string iconMsg = "";
    string msgClass = "black";
    private string activeMenu = "file";
    string file = "file";
    string edit = "edit";
    string view = "view";
    string process = "process";
    string save = "save";
    string tableTitle = "";

    string[]? lastDataArray;
    Project project = new();
    ProjectInfo info = new();
    List<string[]> dataArray = new List<string[]>();
    List<double[]> filteredRawDataInRowsArray = new List<double[]>();
    List<double> submergedDensityInCol = new List<double>();
    List<string> soilNatureInCols = new();
    List<double> strokeInfo = new();
    Dictionary<int, List<double>> filteredRawDataInColumnsDict = new Dictionary<int, List<double>>();
    protected override void OnInitialized()
    {
    }
    protected override void OnAfterRender(bool firstRender)
    {
        ReloadData();
    }

    private void ToggleMenu(string itemClicked)
    {
        activeMenu = itemClicked;
    }
    private void ReloadData()
    {
        if(state.DataArray.Value.Count > dataArray.Count)
        {
            dataArray = state.DataArray.Value;
            strokeInfo = state.StrokeInfo.Value;
            //later on, add some conditions for computed cpt values
            if(state.Data2Show.Value == "raw")
            {
                ViewRawData();
            }
            else if(state.Data2Show.Value == "filtered")
            {
                ViewFilteredData();
            }
            InvokeAsync(StateHasChanged);
        }
    }
    private async void Screenshot(string id)
    {
        if(state.Data2Show.Value != "")
        {
            await jSRuntime.InvokeVoidAsync("screenShot",id);
            navigationManager.NavigateTo($"/output");
        }
    }
    private void Test()
    {
        /*var filteredRawDataInRowsArray = FilterRawData(dataArray);
        Console.WriteLine(filteredRawDataInRowsArray.Count);
        foreach(var data in filteredRawDataInRowsArray)
        {
            foreach(var item in data)
            {
                Console.Write($" {item} ");
            }
            Console.WriteLine("");
        } */
        Console.WriteLine($" sub count : {submergedDensityInCol.Count}");
        int i = 0;
        foreach(var item in submergedDensityInCol)
        {
            Console.WriteLine($"{i} {item} {soilNatureInCols[i]}");
            i++;
        }
    }
    private void Test2()
    {
        var filteredRawDataInRowsArray = FilterRawData(dataArray);
        Console.WriteLine(filteredRawDataInColumnsDict.Count());
        foreach(var data in filteredRawDataInColumnsDict.Values)
        {
            foreach(var item in data)
            {
                Console.Write($" {item} ");
            }
            Console.WriteLine("");
        } 
    }
    private void ViewRawData()
    {
       if(chartRef != null && dataArray.Count > 0)
       {
         store.Mutate<string>("Data2Show","raw");
         tableTitle = "CPT Raw Data";
         chartRef.ViewRawData(dataArray);
         iconMsg = "";
       }
        else
       {
            iconMsg = "No data imported ...Kindly, start a new project";
            msgClass = "red";
       }
    }
    private void ViewFilteredData()
    {
       if(chartRef != null && dataArray.Count > 0)
       {
            if(isFiltered == false)
            {
                filteredRawDataInRowsArray = new();
                filteredRawDataInRowsArray = FilterRawData(dataArray);
                chartRef.ViewFilteredData(filteredRawDataInRowsArray,filteredRawDataInColumnsDict);
                store.Mutate<string>("Data2Show","filtered");
                tableTitle = "CPT Filtered Data";
                isFiltered = true;
                iconMsg = "";
            }
            else
            {
                chartRef.ViewFilteredData(filteredRawDataInRowsArray,filteredRawDataInColumnsDict);
            }
       }
       else
       {
            iconMsg = "No data imported for processing";
            msgClass = "red";
       }
    }

    private void HandleMouseOverIconsTooltip(string message, string menu)
    {
        if(activeMenu == menu)
        {
            iconMsg = message;
        }
    }
    private void HandleMouseOutIcon()
    {
        iconMsg = "";
    }
    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.CtrlKey && e.Key == "s")
        {
            Console.WriteLine("saving ...");
            //e.PreventDefault(); 
            Save();
        }
        else{
            //Console.WriteLine($"{e.Key} was pressed down");
        }
    }
    private void ModifySavedProject(Tuple<string,Project> tupleData)
    {
        string operation = tupleData.Item1;
        Project _project = tupleData.Item2;
        if(operation == "edit")
        {
            info = _project.Info;
            showSaveDialog = true;
        }
        else if(operation == "delete")
        {
            bool isDel = database.Delete("Projects", _project.Id);
            if(isDel)
            {
                iconMsg = "Project deleted successfully";
                showProjects = false;
                msgClass = "red";
            }
        }
        else if(operation == "view")
        {
            LoadSavedProject(_project);
        }
        showProjects = false;
        InvokeAsync(StateHasChanged);
    }
    private void ClickedEventCallToSave(ProjectInfo info)
    {
        string id = Guid.NewGuid().ToString();//Modify to accommodate project edit
        SaveProject(id, info);
    }
    private void SaveProject(string id, ProjectInfo info)
    {//If I fix render issues, modify this code to accommodate edit
        if(state.IsDataLoaded.Value && dataArray.Count > 0)
        {
            var _project = new Project()
            {
                DataArray = dataArray,
                Id = id,
                FilteredRawDataInRowsArray = filteredRawDataInRowsArray,
                TableTitle = tableTitle, 
                HeaderArray = state.HeaderArray.Value,
                SubmergedDensityInCol = submergedDensityInCol,
                SoilNatureInCols = soilNatureInCols,
                StrokeInfo = strokeInfo,
                FilteredRawDataInColumnsDict = filteredRawDataInColumnsDict,
                HeaderIndexDict = state.HeaderIndexDict.Value,
                HeaderUnitDict = state.HeaderUnitDict.Value,
                IsFiltered = isFiltered,
                Info = info
            };//Include var for processed and computed data
            if(lastDataArray != null)
            {
                project.LastDataArray = lastDataArray;
            }
            string key = JsonConvert.SerializeObject(_project.Id);
            string value = JsonConvert.SerializeObject(_project);
            bool isCreated = database.Create("Projects",key,value);
            if(isCreated)
            {
                iconMsg = "Project progress saved!!!";
                msgClass = "green";
                project = _project;
                showSaveDialog = false;
            }
        }
        else
        {
            iconMsg = "Empty project cannot be saved, kindly start a new project";
            msgClass = "red";
        } 
    }
    private void Save()
    {
        //When keyboard save event listens, just call this function
        if(project.Id == "" )
        {
            showSaveDialog = true;
        }
        else if(project.Id != "")
        {
           SaveProject(project.Id, project.Info);
        }
    }
    private void LoadSavedProject(Project p)
    {
        if(p.DataArray.Count > 0)
        {
            ClearAll();
            store.Mutate<bool>("IsDataLoaded",true);
            dataArray = p.DataArray;
            filteredRawDataInRowsArray = p.FilteredRawDataInRowsArray;
            tableTitle = p.TableTitle;
            store.Mutate<string>("Data2Show","raw");
            store.Mutate<List<string[]>>("DataArray",p.DataArray);
            store.Mutate<List<string[]>>("HeaderArray",p.HeaderArray);
            store.Mutate<Dictionary<int, string>>("HeaderUnitDict",p.HeaderUnitDict);
            store.Mutate<Dictionary<int, string>>("HeaderIndexDict",p.HeaderIndexDict);
            submergedDensityInCol = p.SubmergedDensityInCol;
            soilNatureInCols = p.SoilNatureInCols;
            strokeInfo = p.StrokeInfo;
            filteredRawDataInColumnsDict = p.FilteredRawDataInColumnsDict;
            isFiltered = p.IsFiltered;
            project = p;
            ViewRawData();
        };
    }
    private void ModifyDepthValuesAndAppend(string[] values)
    {
        try
        {
            if(lastDataArray != null)
            {
            string[] newValues = new string[values.Length];
            var lastDepthValue = lastDataArray[0];
            double parsedLastDepthValue;
            double parsedItemDepthValue;
            int index = 0;
            foreach(var item in values)
            {
                if(index == 0)
                {
                    if(double.TryParse(lastDepthValue, out parsedLastDepthValue) && double.TryParse(item, out parsedItemDepthValue))
                    {
                        string computedDepth = (parsedLastDepthValue + parsedItemDepthValue).ToString(); 
                        newValues[0] = computedDepth;
                    }
                    else{
                        newValues[0] = "error";
                    }
                }
                else
                {
                    newValues[index] = item;
                }
                index++;
            }
                dataArray.Add(newValues);
            }
        }
        catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
    private List<double[]> FilterRawData(List<string[]> rawDataArray)
    {
        filteredRawDataInColumnsDict = new();//Just because I am modifying, create a new instance
        submergedDensityInCol = new();
        List<double[]> filteredDataArray = new List<double[]>();
        int i = 0;
        double positiveDepthValue = 0;
        foreach(var dataArr in rawDataArray)
        {
            double index0; double index1;int j = 0;
            double[] filteredRow = new double[dataArr.Length];
            if(double.TryParse(dataArr[0], out index0) && double.TryParse(dataArr[1], out index1) && index0 >= 0 && index1 > 0)
            {
                foreach(var data in dataArr)
                {
                    double value;
                    if(double.TryParse(data, out value))
                    {
                        if(i == 0 && j == 0)
                        {
                            positiveDepthValue = value;
                            value = 0;
                        } 
                        else if(i > 0 && j == 0)
                        {
                            var newCalculatedDepth = value - positiveDepthValue;
                            value = Math.Round(newCalculatedDepth, 2);
                        }
                        filteredRow[j] = value;
                        PopulateRawDataIntoColumns(j, value);
                        PopulateSubmergedDensityIntoColumns(j,value);
                        j++;
                    }
                }
                i++;
                filteredDataArray.Add(filteredRow);
            }
        }
        return filteredDataArray;
    }
    private void PopulateSubmergedDensityIntoColumns(int resistanceIndex, double resistanceValue)
    {
        if(resistanceIndex == 1 && resistanceValue > 1.0)//Mpa > 1.0 is typical of sand
        {
            submergedDensityInCol.Add(9.5);
            soilNatureInCols.Add("granular");
        }
        else if(resistanceIndex == 1 && resistanceValue <= 1.0)
        {
            submergedDensityInCol.Add(6.5);
            soilNatureInCols.Add("cohesive");
        }
    }
    private void PopulateRawDataIntoColumns(int index, double value)
    {
        var listData = new List<double>();
        if(state.HeaderIndexDict.Value.ContainsKey(index))
        {
            if(filteredRawDataInColumnsDict.ContainsKey(index))
            {
                filteredRawDataInColumnsDict[index].Add(value);
            }
            else{
                listData.Add(value);
                filteredRawDataInColumnsDict.Add(index,listData);
            }
        }
    }
    private async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        try
        {
            var file = e.File;
            using (var reader = new StreamReader(file.OpenReadStream()))
            {
                string? line = string.Empty;
                int lineIndex = 0;
                List<string[]> headerArray = new();
                while (((line = await reader.ReadLineAsync()) != null!) && !string.IsNullOrWhiteSpace(line))
                {
                    string[] values = line.Split(',');
                    if(lineIndex == 0 && state.IsNewDataClicked.Value)
                    {
                        headerArray.Add(values);
                        PopulateHeaders(values);
                    }
                    else if(lineIndex == 1 && state.IsNewDataClicked.Value)
                    {
                        headerArray.Add(values);
                        PopulateHeaderUnits(values);
                    }
                    else
                    {
                        if(state.IsNewDataClicked.Value)
                        {
                            dataArray.Add(values);
                            store.Mutate<bool>("IsDataLoaded",true);
                        }
                        else if(!state.IsNewDataClicked.Value && state.IsDataLoaded.Value &&  lineIndex > 1){
                            ModifyDepthValuesAndAppend(values);
                        }
                        else if(!state.IsNewDataClicked.Value && !state.IsDataLoaded.Value){
                                break;
                        }
                    }
                    lineIndex++;
                }
                isFiltered = false;
                GetAndSetStrokeCount();
                if(headerArray.Count > 0)
                {
                    store.Mutate<List<string[]>>("HeaderArray",headerArray);
                }
                MutateDataArray();
            }
            ViewRawData();
            MutateStrokeInfo();
        }
        catch (Exception ex)
        {
            msgClass = "red";
            iconMsg = $"Error reading the file: " + ex.Message;
        }
    }
    private void GetAndSetStrokeCount()
    {
        if(dataArray.Count > 0)
        {
            double depth = 0;
            var lastData = dataArray[dataArray.Count - 1];
            double.TryParse(lastData[0], out depth);
            strokeInfo.Add(depth);
        }
    }
    private void MutateStrokeInfo()
    {
        if(strokeInfo.Count >= state.StrokeInfo.Value.Count)
        {
            store.Mutate<List<double>>("StrokeInfo",strokeInfo);
        }
    }
    private void MutateDataArray()
    {
        if(dataArray.Count >= state.DataArray.Value.Count)
        {
            store.Mutate<List<string[]>>("DataArray",dataArray);
        }
    }
    private void PopulateHeaders(string[] values)
    {
        int index = 0;
        Dictionary<int, string> headerIndexDict = new Dictionary<int, string> ();//index is key, result is value
        foreach (string value in values)
        {
            if(!string.IsNullOrWhiteSpace(value))
            {
                headerIndexDict.Add(index, value);
            }
            index++;
        }
        store.Mutate<Dictionary<int, string>>("HeaderIndexDict",headerIndexDict);
    }
    private void PopulateHeaderUnits(string[] values)
    {
        int index = 0;
        Dictionary<int, string> headerUnitDict = new Dictionary<int, string>();//key is header inder, value is unit
        foreach (string value in values)
        {
            if(!string.IsNullOrWhiteSpace(value) && state.HeaderIndexDict.Value.ContainsKey(index))
            {
                headerUnitDict.Add(index,value);
            }
            index++;
        }
        store.Mutate<Dictionary<int, string>>("HeaderUnitDict",headerUnitDict);
    }
    private void ClearAll()
    {
        ClearChart();
        iconMsg = "";
        store.Mutate<Dictionary<int, string>>("HeaderUnitDict",new());
        store.Mutate<Dictionary<int, string>>("HeaderIndexDict",new());
        store.Mutate<List<double>>("StrokeInfo",new());
        store.Mutate<List<string[]>>("HeaderArray",new());
        store.Mutate<List<string[]>>("DataArray",new());
        store.Mutate<bool>("IsDataLoaded",false);
        store.Mutate<string>("Data2Show","");
        isFiltered = false;
        strokeInfo = new();
        project = new();
        dataArray = new();
        //Console.WriteLine($"from clear all / index: {state.HeaderIndexDict.Value.Count()}, unit: {state.HeaderUnitDict.Value.Count} data array : {dataArray.Count}");
    }
    private void ClearChart()
    {
        if(chartRef != null)
        {
            chartRef.InitializePlotModels();
        }
    }
    private async Task ShowFileDialog(bool isNewData)
    {
        await jSRuntime.InvokeVoidAsync("showFileDialog");
        store.Mutate<bool>("IsNewDataClicked",isNewData);
        if(isNewData)
        {
            ClearAll();
            msgClass = "black";
        }
        else if(!isNewData && state.IsDataLoaded.Value && dataArray.Count > 0)
        {
            lastDataArray = dataArray[dataArray.Count - 1];
        }
        else if(!isNewData && !state.IsDataLoaded.Value)
        {
            iconMsg = "Kindly click on New to start a new project";
            msgClass = "red";
        }
    }
}
